name: Continuous Integration

on:
  push:
    branches:
      - master
  pull_request:
    types: [ opened, synchronize, reopened ]

env:
  fail-fast: true

jobs:
  build:
    name: PHPUnit
    runs-on: ubuntu-20.04
    strategy:
      matrix:
        php-version:
          - 7.2
          - 7.3
          - 7.4
          - 8.0
        dependencies:
          - lowest
          - highest

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php-version }}
          coverage: xdebug

      - name: Install Composer Dependencies
        uses: ramsey/composer-install@v1
        with:
          dependency-versions: ${{ matrix.dependencies }}
          composer-options: "--prefer-stable"

      - name: Run PHPUnit
        run: vendor/bin/phpunit

      - name: Upload coverage files
        uses: actions/upload-artifact@v2
        with:
          name: ${{ github.job }}-${{ matrix.php-version }}-coverage
          path: tests/.results/

  sonarcloud:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          # Disabling shallow clone is recommended for improving relevancy of reporting
          fetch-depth: 0

      - uses: actions/download-artifact@v2
        with:
          name: build-7.4-coverage
          path: tests/.results/

      - name: Fix Code Coverage Paths
        working-directory: tests/.results/
        run: |
          sed -i 's@'$GITHUB_WORKSPACE'@/github/workspace/@g' tests-clover.xml
          sed -i 's@'$GITHUB_WORKSPACE'@/github/workspace/@g' tests-junit.xml

      - name: SonarCloud Scan
        uses: sonarsource/sonarcloud-github-action@master
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
